* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto auto auto;
  grid-template-areas:
    "nav"
    "aside"
    "main"
    "page"
    "footer";
  width: 100vw;
  height: 100vh;
}
nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 10px;
  background-color: #0367a6;
}
.nav-logo {
  color: whitesmoke;
  font-size: 1.2rem;
}
.nav-icon {
  color: whitesmoke;
  font-size: 20px;
  padding-right: 20px;
}
.menu-list {
  display: none;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-area: aside;
  background-color: #e3e3e2;
  height: 60px;
}
.search-text {
  color: rgb(109, 106, 106);
}
.search-combo {
  width: 200px;
  height: 25px;
  color: gray;
  padding-bottom: 10px;
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow-y: scroll;
}
.card-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 15px;
  border: 1px solid #eae3e3;
  box-shadow: 1px 1px 10px 1px #b4c1d1;
}
.card-section-item img {
  width: 80%;
  height: 300px;
}
.card-section-item p {
  padding-top: 20px;
}
.card-section-item a {
  text-decoration: none;
  background-color: #0367a6;
  border: 1px solid #0367a6;
  color: whitesmoke;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.pagination-table,
tr,
td {
  color: #4281ee;
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 15px;
}

footer {
  grid-area: footer;
  color: whitesmoke;
  background-color: #023373;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.pagination {
  grid-area: page;
}
.footer-icon {
  font-size: 25px;
}

@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: 20% 80%;
    grid-template-areas:
      "nav aside"
      "nav main"
      "footer page";
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
  }
  .nav-logo {
    padding: 15px;
  }
  .nav-icon {
    display: none;
  }
  .menu-list {
    padding: 15px;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-list li {
    padding: 5px;
  }
  .search {
    height: 60px;
  }
  .search form {
    width: 90%;
  }
  .search-combo {
    width: 100%;
  }
  .card-section {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
 
  }
  .card-section-item {
    width:320px;
  }
  .card-section-item img {
    width: 100%;
  }
  footer {
    padding: 15px;
  }
}
